<!--
<!DOCTYPE html>
<html>
<head>
    <title>Bands</title>
</head>
<body>
    <h1>Bands</h1>
    <ul>
        {% for band in bands %}
            <li>{{ band.name }} - {{ band.genre }}</li>
        {% endfor %}
    </ul>
</body>
</html>
-->
<!DOCTYPE html>
<html>
<head>
    <title>Bands</title>
</head>
<body>
    <h1>Bands</h1>
    <ul>
        {% for band in bands %}
            <li>
                {{ band.name }} - {{ band.genre }}
                <ul>
                    {% for member in band.members.all %} 
                        <li>{{ member.name }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>